/* Coolors Exported Palette - https://coolors.co/414ab1-fcdfda-ef886c-fae5f2 */

/* CSS HEX */
--violet-blue: #414ab1ff;
--misty-rose: #fcdfdaff;
--middle-red: #ef886cff;
--pale-purple-pantone: #fae5f2ff;

/* CSS HSL */
--violet-blue: hsla(235, 46%, 47%, 1);
--misty-rose: hsla(9, 85%, 92%, 1);
--middle-red: hsla(13, 80%, 68%, 1);
--pale-purple-pantone: hsla(323, 68%, 94%, 1);

/* SCSS HEX */
$violet-blue: #414ab1ff;
$misty-rose: #fcdfdaff;
$middle-red: #ef886cff;
$pale-purple-pantone: #fae5f2ff;

/* SCSS HSL */
$violet-blue: hsla(235, 46%, 47%, 1);
$misty-rose: hsla(9, 85%, 92%, 1);
$middle-red: hsla(13, 80%, 68%, 1);
$pale-purple-pantone: hsla(323, 68%, 94%, 1);

/* SCSS RGB */
$violet-blue: rgba(65, 74, 177, 1);
$misty-rose: rgba(252, 223, 218, 1);
$middle-red: rgba(239, 136, 108, 1);
$pale-purple-pantone: rgba(250, 229, 242, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #414ab1ff, #fcdfdaff, #ef886cff, #fae5f2ff);
$gradient-right: linear-gradient(90deg, #414ab1ff, #fcdfdaff, #ef886cff, #fae5f2ff);
$gradient-bottom: linear-gradient(180deg, #414ab1ff, #fcdfdaff, #ef886cff, #fae5f2ff);
$gradient-left: linear-gradient(270deg, #414ab1ff, #fcdfdaff, #ef886cff, #fae5f2ff);
$gradient-top-right: linear-gradient(45deg, #414ab1ff, #fcdfdaff, #ef886cff, #fae5f2ff);
$gradient-bottom-right: linear-gradient(135deg, #414ab1ff, #fcdfdaff, #ef886cff, #fae5f2ff);
$gradient-top-left: linear-gradient(225deg, #414ab1ff, #fcdfdaff, #ef886cff, #fae5f2ff);
$gradient-bottom-left: linear-gradient(315deg, #414ab1ff, #fcdfdaff, #ef886cff, #fae5f2ff);
$gradient-radial: radial-gradient(#414ab1ff, #fcdfdaff, #ef886cff, #fae5f2ff);