* {
    margin: 0;
    padding: 0;
}

body {
    border: 0;
    font-size: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    color: beige;
}


h1 {
    color: rgb(1, 0, 88);
    background-color: #809BCE80;
    width: 600px;
    display: ;
}

blockquote {

}

p {

}

footer {
    background-color: rgb(227, 225, 235);
    text-align: center;
    color: rgb(24, 20, 53);
    padding-bottom: 15px;
    margin: 0 auto;
}



/* navbar*/

.navbar {
    position: fixed;
    width: 100%;
    top: 0; 
    background-color:rgba(103, 100, 255);
    
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li {
    display: inline-block;
    position: relative;
    padding: 20px 20px;
   
}

a:hover {
    font-size: 2rem;
    color: red;
    
}

body {
    margin-top: 70px;
    background-image: url('/Users/marielych/Documents/Web Development/AllWomen.tech/projects/bootcamp_pre_work/day1/ressources/images/img6.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}


#myPicture {
    width: 250px;
    height: auto;
}

/* Home section */

#home {
    text-align: center;
}

  /* styling of the progress bar*/
.progress {
    position: relative;
    width: 210px ;
    height: 30px;
    background-color: rgb(136, 172, 136) ;
    border-radius: 5px;
    overflow: hidden;

}

.progress_fill {
    width: 1%;
    height: 100%;
    background-color: rgb(75, 45, 62);
    transition: all 0.2s;
}

.progress_text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px 'Quicksand', sans-serif ;
    color: white;
}

/* contact section */

#contact-section {
    background-color: #809BCE;
    color: white;
    margin: 0;
}
#contact {
    font-size: 70px;
    width: 100%;
    color: #ADFCF9;
}

.contact-section li {
    display: inline-block;
    padding: 20px 50px;
    align-items: center;

}